* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #455f55;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
}

.root {
  max-width: 1620px;
  margin: 0 auto;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.products-list__empty {
  margin: 200px 0;
  font-size: 20px;
  color: #dfcea8;
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  width: 280px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  background-color: #0a2829;
  margin: 10px;
  border-radius: 15px;
}

.product__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  background: linear-gradient(#659999, #f56a43);
  box-shadow: 0px 5px 10px #f56a43;
  transition: all 0.4s;
}

.product__image-wrapper--light-14 {
  box-shadow: 0px 5px 23px #f7a31c;
  background: linear-gradient(0deg, #faa467, #659999);
}
.product__image-wrapper--light-24 {
  box-shadow: 0px 10px 23px #f7a31c;
  background: linear-gradient(0deg, #fa9851, #659999);
}
.product__image-wrapper--light-34 {
  box-shadow: 0px 15px 23px #f7a31c;
  background: linear-gradient(0deg, #fc8c3c, #659999);
}
.product__image-wrapper--light-44 {
  box-shadow: 0px 20px 23px #f7a31c;
  background: linear-gradient(0deg, #fa7f27, #659999);
}
.product__image-wrapper--light-54 {
  box-shadow: 0px 25px 23px #f7a31c;
  background: linear-gradient(0deg, #f1741a, #659999);
}

.product__image {
  width: 100%;
  height: 100%;
  max-height: 250px;
  object-fit: fill;
}

.product__favorites {
  position: absolute;
  content: "";
  top: 15px;
  right: 15px;
  color: #0f0c2b;
  cursor: pointer;
}

.product__more {
  position: absolute;
  content: "";
  top: 15px;
  left: 15px;
  color: #31303c;
  cursor: pointer;
}

.product__more:hover {
  color: #e39145;
}

.product__info {
  padding: 15px;
  color: #fff;
}

.product__title {
  color: #7e7e7e;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 10px;
}

.product__price {
  font-size: 16px;
  margin: 5px 0;
}

.product__description {
  margin-bottom: 5px;
  color: #7e7e7e;
  font-size: 13px;
  line-height: 18px;
}

.product__btn {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.btn {
  cursor: pointer;
  border: 0px;
}
.btn--buy {
  display: inline-block;
  width: 50%;
  background-color: #f56a43;
  border-radius: 10px;
  padding: 10px 20px;
  color: #fff;
  text-align: center;
}

.btn--buy:hover {
  background-color: #9dd776;
}

.product__options {
  margin-top: 10px;
}

.choice {
  display: flex;
  margin-bottom: 7px;
}

.choice__btn {
  width: 70px;
  height: 50px;
  border-radius: 5px;
  font-weight: 700;
  color: #fff;
  background-color: #9dd776;
}
.choice__btn:hover {
  background-color: #e39145;
}

.choice__menu {
  display: none;
}

.choice__menu--active {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-left: 5px;
  list-style-type: none;
  width: 190px;
  overflow: auto;
}

.choice-item {
  cursor: pointer;
  padding: 10px 5px;
  background-color: #455f55;
  color: #fff;
  border-radius: 5px;
  margin: 0 3px 3px 3px;
}

.choice-item--active {
  border: 2px solid #f56a43;
}

::-webkit-scrollbar {
  height: 6px;
  width: 100%;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #f56a43;
  border-radius: 8px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.popup--active {
  visibility: visible;
  opacity: 1;
}

.popup__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.popup__text {
  margin: 0 10px;
  font-size: 16px;
}

.popup.popup--active .popup__container {
  animation: popupAnimation 0.5s;
}

@keyframes popupAnimation {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0px);
  }
}

.popup__btn {
  background-color: transparent;
}
.popup__container {
  position: relative;
  padding: 10px;
  width: 100%;
  max-width: 400px;
  background-color: #ded5c0;
  border-radius: 5px;
}

.btn--close {
  position: absolute;
  top: -35px;
  right: 0;
  font-size: 16px;
  border-radius: 3px;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}
.popup__title {
  margin: 10px 10px 15px 10px;
}

.popup__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-top: 15px;
}

.btn--continue {
  margin-right: 20px;
  padding: 10px;
  background-color: #9dd776;
  border-radius: 5px;
  color: #fff;
}

.btn--continue:hover {
  background-color: #e39145;
}

.btn--cart {
  margin-right: 20px;
  padding: 10px;
  background-color: #e39145;
  border-radius: 5px;
  color: #fff;
}

.btn--cart:hover {
  background-color: #9dd776;
}
.properties-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.product-property {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9ebdb2;
  border-radius: 5px;
  margin: 7px;
  padding: 10px;
  font-size: 14px;
}
.product-property__icon {
  margin-right: 10px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #dfcea8;
}

.header__logo {
  color: #f1a03d;
}

.header__logo-name {
  color: #dfcea8;
}

.header__actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__search {
  margin-right: 10px;
  font-size: 18px;
  cursor: pointer;
}
.menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  font-size: 14px;
}

.menu__item {
  margin: 0 10px;
  cursor: pointer;
}

.menu__item:hover {
  color: #f56a43;
}

.mini-cart {
  position: relative;
  color: #f8e3b6;
}

.mini-cart__wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.mini-cart__icon {
  cursor: pointer;
  margin-right: 10px;
  font-size: 18px;
}

.mini-cart__icon:hover {
  color: #f56a43;
}

.mini-cart__info {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.mini-cart__products-wrapper {
  position: absolute;
  right: 0;
  min-width: 300px;
  padding: 15px 10px;
  margin-top: 15px;
  border-radius: 10px;
  border-top: 2px solid #f56a43;
  box-shadow: 2px 3px 5px #0f0f0f;
  background-color: #0a2829;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
}

.mini-cart__products-wrapper.mini-cart__products-wrapper--active {
  visibility: visible;
  opacity: 1;
}

.mini-cart__products-wrapper::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: -10px;
  right: 7px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #f56a43;
}

.mini-cart__title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}

.mini-cart__list {
  margin-bottom: 15px;
  max-height: 300px;
  overflow: auto;
}

.mini-cart__list::-webkit-scrollbar {
  height: 100%;
  width: 4px;
}

.mini-cart__list::-webkit-scrollbar-track {
  background-color: #455f55;
}

.mini-cart__list::-webkit-scrollbar-thumb {
  background: #f56a43;
  border-radius: 8px;
}

.btn--order {
  cursor: pointer;
  font-size: 13px;
  background-color: #f56a43;
  color: #fff;
  padding: 5px 10px;
  border-radius: 7px;
}

.btn--inactive {
  display: none;
  visibility: hidden;
}
.menu__item {
  margin: 0 10px;
  cursor: pointer;
}

.menu__item:hover {
  color: #f56a43;
}

.mini-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px 0 10px 0;
  margin-right: 7px;
}

.mini-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #f56a43;
}

.mini-item__image {
  max-width: 80px;
  margin-right: 5px;
}

.mini-item__title {
  font-size: 14px;
  color: #7e7e7e;
  margin-bottom: 5px;
}

.mini-item__amount {
  color: #fff;
}

.btn--closeItem {
  background-color: transparent;
  color: #f1741a;
}

.remove-list {
  position: absolute;
  bottom: 0;
  /* left: 20px; */
  right: 20px;
  width: 250px;
  background-color: transparent;
  color: #0f0c2b;
  border-radius: 3px;
  z-index: 100;
}
.remove-list__control {
  position: relative;
  visibility: hidden;
  opacity: 0;
}

.remove-list__control--active {
  visibility: visible;
  opacity: 1;
}

.remove-list__triangle {
  position: absolute;
  bottom: -2px;
  right: 2px;
  display: flex;
  justify-content: center;
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-top: 25px solid #f56a43;
}

.remove-list__number-alerts {
  position: absolute;
  top: -27px;
  font-size: 15px;
  color: #0f0c2b;
}

.remove-list__list {
  overflow: hidden;
}

.btn--hide {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  width: 100%;
  padding: 3px 0;
  background-color: #0a2829;
  color: #fff;
}

.remove-alert {
  font-size: 13px;
  background-color: #f56a43;
  margin: 2px auto;
}

.remove-alert__timer {
  width: 100%;
  height: 3px;
  background-color: #f4bf99;
  animation-duration: 5s;
  animation-name: timer;
}
@keyframes timer {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.remove-alert__text {
  padding: 10px;
}

.remove-alert__product-title {
  font-weight: 700;
}

.search {
  position: relative;
}

.search__icon:hover {
  color: #f1741a;
}

.search__wrapper {
  position: absolute;
  top: -30%;
  right: 170%;
  min-width: 2cm;
  margin: 5px;
  border-color: #f1741a;
  visibility: hidden;
  opacity: 0;
  z-index: 99;
}

.search__wrapper--active {
  visibility: visible;
  opacity: 1;
}

.search__field {
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 5px;
  border-right: 1px solid #f1741a;
  border-bottom: 1px solid #f1741a;
  background-color: #0a2829;
  color: #dfcea8;
}

.search__form::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 30%;
  right: -4.5%;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid #f56a43;
}
